* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	
}

body {
    text-align: center;
}

#box,#box1,#box2,#box3,#box4,#box4_2{
    animation: sunn 3s infinite linear;
     transform-origin:center;
    transform-box: fill-box;
}
@keyframes sunn {
    from{
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
/* #myBtn { */
	/* display: none; */
	/* position: fixed; */
	/* bottom: 20px; */
	/* right: 40px; */
	/* z-index: 99; */
	/* border: none; */
	/* color: #fff; */
	/* border: none; */
	/* background: #00abff; */
	/* padding: 10px; */
	/* border-radius:10px; */
/* } */
	/* #myBtn:hover { */
		/* background:#606060; */
	/* } */
	
	
	
	
	
	
	/*#man {
    animation: men 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}*/

#loc,#loc1,#loc2,#loc3 {
    animation: loc 3s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}
/*
@keyframes men{
    from{
        transform: translateY(0%);
    }
    to {
        transform: translateY(1%);
    }
}*/

@keyframes loc{
    from {
        transform: rotateY(0deg) ;
    }
    to {
        transform: rotateY(360deg) ;
    }
}
